[user]
    name = Dean Verhey
    email = deanverhey@gmail.com
    useConfigOnly = true
[core]
    autocrlf = false
    editor = nvim
    excludesfile = ~/.gitignore_global
    pager = less -FRX
[init]
    defaultbranch = main
[alias]
    adog = log --all --decorate --oneline --graph
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    cm = switch main
    cd = switch develop
    unstage = reset HEAD --
    co = switch
[fetch]
    prune = true
[pull]
    ff = only
# if adding to work repos, use work info
[includeIf "gitdir:~/code/anrok/"]
    path = .gitconfig_work
# never https
[url "git@github.com:"]
	insteadOf = https://github.com/
[commit]
	template = ~/.gitmessage
[rebase]
    autostash = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
